packages:
  yum:
    jq: []

container_commands:
  01-command:
    command: curl -s http://169.254.169.254/latest/meta-data/instance-id > /opt/cloudwatch/aws-scripts-mon/instanceId
  02-command:
    command: curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone | sed -e 's/.$//' > /opt/cloudwatch/aws-scripts-mon/region
  03-command:
    command: aws ec2 describe-tags --region=`cat /opt/cloudwatch/aws-scripts-mon/region` --filters "Name=resource-id,Values=`cat /opt/cloudwatch/aws-scripts-mon/instanceId`" "Name=key,Values=aws:autoscaling:groupName" | jq -r .Tags[0].Value | cat > /opt/cloudwatch/aws-scripts-mon/asGroupName
  04-command:
    command: mkdir -p /opt/cloudwatch/aws-scripts-mon/
  05-command:
    command: cp -R .ebextensions/custom_metrics/* /opt/cloudwatch/aws-scripts-mon/
  06-command:
    command: chmod 755 /opt/cloudwatch/aws-scripts-mon/*.sh
  07-command:
    command: cp .ebextensions/cwcustom /etc/cron.d/cwcustom
  08-command:
    command: chmod 644 /etc/cron.d/cwcustom
